<p id="notice"><%= notice %></p>

<p>
  <!-- 埋め込み変数をハッシュとして引数に追加して翻訳文を呼び出すことができます。 -->
  <strong><%= t('.title', title: @book.title) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t('.author') %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @book.outline %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
